@import "./../../scss/SCSSConstants.scss";

.navWrapper {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navList {
    font-size: 18px;
    @include adaptive-value("font-size", 18, 15);
    line-height: 21px;
    li {
        display: block;

        a {
            display: inline-block;
            height: 100%;
            padding: 28px 0px 25px 0;
            @include adaptive-value("padding-top", 25, 15);
            @include adaptive-value("padding-bottom", 25, 15);
            box-sizing: border-box;
            border-bottom: solid 3px transparent;

            &:hover {
                color: $white;
            }
        }
        margin: 0 5px;
    }
}
